doctype 5
html(lang="en")
  head
    title= musicexplained
  body
    h1 MXplained
    form(name="input" action="/create", method="post")
      | Explain:
      input(type="text", name="explain")

      input(type="submit", value="Submit")

  h1= 'song meanings'
  - each songmeaning in songmeanings
    div.songmeanings
      p= songmeaning.comment
